/* Reset Global */
* {
    padding: 0;
    margin: 0;
}

.containerPrincipal {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 10vh;
    display: flex;
    justify-content: right;
    background-color: #008000;
}

/* Estiliza menu de navegação*/
nav {
    display: flex;
    margin-right: 1.2vw;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

/* Estiliza Links*/
a {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    color: #011f01;
    transition: 0.2s ease;
}

/* Estiliza botões*/
button {
    background-color: #008000;
    padding: 10px;
    border: hidden;
    border-radius: 10px;
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #a9e7a9;
}

/* Vai estilizar o corpo da página*/

body {
    background-color: #001400;
}


/*estiliza conteúdo principal da página*/
main {
    height: 80vh;
    display: grid;
    justify-content: center;
}

main h1 {
    margin-left: 2vw;
    margin-top: 2vh;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #a9e7a9;
}

main h2 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #a9e7a9;
    margin-top: 3vh;
    text-align: center;
}

main p {
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #a9e7a9;
    margin-top: 10vh;
}

/* Separa os elementos do texto para estilizar parágrafo por parágrafo*/
span {
    display: grid;
    gap: 1px;
}

/* Estiliza o rodapé da página*/
footer {
    height: 20vh;
    display: grid;
    background-color: #008000;
}

#contatos {
    margin: 20px;
}