.containerFerramenta {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin-bottom: 5vh;
    width: auto;
    max-width: 50vh;
    height: auto;
    border-radius: 15px;
    background-color: var(--color-container-1);
    color: var(--color-p);
    font-family: var(--font-p);
    gap: 5px;
    text-align: center;
}



.iconeFerramenta {
    width: 2rem;
    height: auto;
    color: var(--color-p);
}