.container {
  background-color: var(--color-bg-2);
  border-radius: 15px;
}

.card-title {
  color: var(--color-h);
  font-family: var(--font-h);
  font-size: 1.5rem;
}

.card-body {
  color: var(--color-p);
  font-family: var(--font-p);
  font-size: 1.5rem;
}