/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Iporta o Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';


/* Variáveis */
:root {
    /* Fontes dos textos*/
    --font-h: "Audiowide", sans-serif;
    --font-p: "Orbitron", sans-serif;
    --font-nav: "Space Grotesk", sans-serif;
    
    /* Cores dos Textos Principais*/
    --color-h: #d3d3ff;
    --color-p: #8182b4;

    /* Cores backgrounds */
    --color-bg: #04041a;
    --color-bg-2: #101027;
    --color-container-1: #101027;
}

/*================================
    Base da Página
==================================*/

/* Reset global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth; /* Força o navegador a suavizar qualquer rolagem */
}

html::-webkit-scrollbar {
  display: none;           /* Esconde a barra no Chrome, Safari e Edge */
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
}

.App {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;    /* Empilha os elementos */
  align-items: center;       /* Centraliza na horizontal */
  justify-content: center;   /* Centraliza na vertical */
  text-align: center;        /* Centraliza as linhas de texto */
  min-height: 100vh;         /* Ocupa a tela inteira */                /* Cria um espaço perfeito de 2rem entre a logo, o h1 e o p */
  padding: 20px;             /* Garante que o texto não cole nas bordas em celulares */
}

/* Estiliza todos os links com essa classe */
.link {
  text-decoration: none;
}

main {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
}

/*=======================================
  Seção 1 Menu de navegação da Página
=========================================*/

/* Estiliza menu de navegação */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-bg-2);
}

/* Nome da Loja que fica no menu de mavegação */
.nomeLoja {
  font-family: var(--font-h);
  color: var(--color-p);
  margin-right: auto;
  padding: 10px;
}

/* Modulos de navegação, duvidas de orçamento etc... */
.modulos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Descrição sobre o módulo */
.descricao {
  margin-right: 3rem;
  color: var(--color-p);
  font-family: var(--font-nav);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease;
}

.descricao:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(211, 211, 255, 0.2));
  transform: scale(1.2);
}

/* Ícones de contatos e redes sociais */
.icon {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  transition: 0.3s ease;
  gap: 10px;
}

.icon:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(211, 211, 255, 0.2));
  transform: scale(1.2);
}

#home {
  display: flex;
  margin: 10px;
}

/*=======================================
  Seção 2 Apresentação da Página
=========================================*/

.logo {
  max-width: 500px;
  width: auto;       
  height: auto;     
  object-fit: contain; /* Garante que o PNG se ajuste ao espaço sem distorcer */
  filter: drop-shadow(0 0 10px rgba(129, 130, 180, 0.4)); /* Sombra leve com a cor do seu parágrafo */
}

/* Aplicando as fontes, pesos e cores nos seletores corretos */
.nome-da-loja {
  font-family: var(--font-h);
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; /* Dica: 5rem é bem grande! Se sumir no celular, podemos ajustar depois */
  color: var(--color-h);
}

h2 {
  font-family: var(--font-h);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem; /* Dica: 5rem é bem grande! Se sumir no celular, podemos ajustar depois */
  color: var(--color-h);
}

/* Estiliza o elemento "p"*/
.p-principal {
  font-family: var(--font-p);
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--color-p);
  line-height: 2;
}

/*=======================================
  Seção 3 Seção principal da Página
=========================================*/

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

/*=======================================
  Seção 4 Footer area de contatos e inf
=========================================*/

.footer {
  padding: 20px;
  background-color: #101027;
}

.contatos {
  font-family: var(--font-p);
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--color-p);
  line-height: 2;
}