/* Removido o width fixo de 30rem e trocado por 100% para ocupar a coluna */
.list-group-item {
    display: flex;
    justify-content: space-between; /* Espaça o título à esquerda e o preço à direita */
    align-items: center;
    border: none;
    background-color: var(--color-container-1);
    width: 350px;
    min-width: 300px;
    padding: 15px 20px;
    margin-bottom: 8px;
    border-radius: 8px !important;
    color: var(--color-p);
    font-family: var(--font-nav);
    transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
    background-color: var(--color-container-hover);
    color: var(--color-p-hover);
}

/* Estado ativo quando selecionado */
.list-group-item.active {
    background-color: var(--color-container-hover);
    border-left: 4px solid #8182b4;
    width: 350px;
    min-width: 300px;
    color: var(--color-p-hover) !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(129, 130, 180, 0.2);
}

/* Card do Total */
#totalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;
    min-width: 250px;
    max-width: 300px;
    background-color: var(--color-bg-2);
    font-family: var(--font-h);
    color: var(--color-h);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(129, 130, 180, 0.2);
}

.total-label {
    font-size: 0.9rem;
    color: var(--color-p);
    margin-bottom: 10px;
    font-family: var(--font-p);
}

#totalServico {
    margin: 0;
    color: #a5a6e0;
}